logbook/*.pdf
slides/*.pdf
paper/*.pdf
pres/*.pdf
grants/*.pdf

logbook/input/
slides/input/
paper/input/
pres/input/
grants/input/

tasks/*/input/
tasks/*/output/
tasks/*/temp/
slurmlogs

tasks/*/code/*.py.o*
tasks/*/code/*.py.e*
tasks/*/code/*.asv
tasks/*/code/*.log
tasks/*/code/generic_python*
!tasks/generic_python_fns/code/generic_python.py
tasks/*/code/__pycache__/*
tasks/*/code/Rplots.pdf

paper/sections/*.html

logbook/*.log

.DS_Store
*.aux
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.md5
*.dpth
*.pyc
*.auxlock
*.fdb_latexmk
*.fls

run.sbatch
!tasks/setup_environment/code/run.sbatch
*.auxlock
grants/fontsize.sty
grants/fontsize/*
.Rproj.user
.Rhistory

*.log
*.nav
*.snm
